
*{
    margin: 0px;
    padding: 0px;

}

img, svg {
    vertical-align: middle;
    width: 75%;
    padding: 4pc;
}
ul.navbar-nav.ms-auto.mb-2.mb-lg-0 {
    padding-right: px10;
    padding-right: 14pc;
    font-size: 20px;
    font-weight: 500;
}
li.nav-item {
    padding: 25px;
}
a.navbar-brand {
    font-size: 35px;
    padding-left: 70px;
    font-weight: 500;

}p {
    padding-top: 16px;
margin-left: 13pc;
    margin-bottom: 1rem;
  
}.h1, h1 {
   
    text-align: center;
    font-weight: 700;
    font-size: 52px;
    padding-top: 50px;
}
section.theme-bg {
    background: #dbf4fe;
}


.container-fluid {

    
    background-color: #dbf4fe;
}
.align-items-center {
    margin-top: -9px;
}
header {
    margin-top: -7px;
}
    li {
        list-style-type: none;
        /* padding: 5px; */
        font-weight: 100;
    }
    p {
        /* padding-top: 16px; */
        margin-left: 1pc;
        margin-bottom: 1rem;
        color: aliceblue;
        font-weight: 200;
    }

p.info.heading {
    text-align: initial;
    font-weight: 600;
    color: aliceblue;
    margin-left: 10pc;
}

i.fa.fa-facebook {margin: 10px;
    padding: 12px;
    border: 2px solid;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}
ul.social-.media {
    display: inline-flex;
    margin-left: 7pc;
    margin-top: 20px;
}
.menu_footer li a {
    text-decoration: none;}
    .footer-top{ background: hsl(215deg 18% 21%);}
    p {
        padding-top: 16px;
        margin-left: 13pc;
        margin-bottom: 1rem;
        color: aliceblue;    padding-top: 16px;
        margin-left: 4pc;
        margin-bottom: 1rem;
        color: aliceblue;
    }a {
        color: #0d6efd;
        text-decoration: underline;
        color: aliceblue;
    }
    .col-md-3 {
        color: aliceblue;
    }
    .footer-info {
        border-top: 1px solid;
        color: aliceblue;
        padding-top: 35px;
    }
    .container {
        padding-bottom: 40px;
        padding-top: 48px;
    }
    ul.footer-list {
        text-align: end;
        padding-right: 90px;
    }.menu_footer li a { text-decoration: none;
        color: #ccc;
        font-weight: 100;}
        p.our {
            /* margin: 63px; */
            margin-top: -34px;
            font-weight: 500;
        }
        p.sed {
            font-size: 14px;
            font-weight: 200;
            padding-bottom: -14px;
            padding-bottom: 1px;
        }
        p.dolor {
            margin-top: 87px;
            line-height: 2em;
            letter-spacing: 1px;
        }
      